.fx {
    display: flex;
    justify-content: space-between;
}
#p-div {
    background-color: yellowgreen;
    height: 100vh;
   
    flex-direction: column;
}

#c1-div {
    background-color: bisque;
    
}

#c2-div {
    background-color: thistle;
    /* margin-top: 100px; */
}